@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto magnam aspernatur, quas eum, ipsum ut quo rem voluptates molestiae incidunt vel quisquam eveniet ipsa. Impedit voluptates praesentium minus velit! Autem.</p>

    <p> Cambio agregado desde GITHUB</p>

    <p> Cambio agregado desde mi local</p>


</div>
